@use 'variables' as v;
@use 'mixins' as m;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Young Serif', serif;
  font-size: 1.6rem;
}
.content{
  background-color: v.$eggshell;
  width: 100%;
  min-height: 100dvh;
  max-width: 1440px;
  margin: 0 auto;
  @media(min-width:680px){
    padding: 4rem 0;
  }
  .recipe{
    width: 100%;
    max-width: 740px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: v.$white;
    @media(min-width:680px){
      margin: 0 auto;
      padding: 4rem;
    }
    &__fig{
      width: 100%;
      .recipe__omelette{
        width: 100%;
        max-width: 660px;
        @media(min-width:680px){
          border-radius: 1rem;
        }
      }
    }
    .recipe__introduction{
      padding: 2rem;
      @media(min-width:680px){
        padding: 2rem 0;
      }
      .recipe__title{
        font-size: 4rem;
        color: v.$dark-charcoal;
        word-wrap: break-word;
        line-height: 1.5;
        margin-bottom: 25px;
      }
      .recipe__info{
        @include m.sectionText;
        font-size: 1.6rem;
      }
    }
    .recipe__time{
      width: 90%;
      margin: 0 auto;
      border-radius: 2rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: v.$rose-white;
      font-family: 'Outfit', sans-serif;
      .recipe__preparation{
        color: v.$dark-raspberry;
        font-size: 2rem;
        font-weight: 600;
      }
      .timeItem{
        @include m.sectionText;
        margin-left: 2rem;
        span{
          font-weight: 600;
        }
      }
    }
    .recipe__ingredients{
      @include m.lineBottom;
      @media(min-width:680px){
        padding: 2rem 0;
      }
      .ingredientTitle{
        @include m.sectionTitle;
      }
      .ingredient{
        @include m.sectionText;
        margin-bottom: 1rem;
      }
    }
    .recipe__instructions{
      @include m.lineBottom;
      @media(min-width:680px){
        padding: 2rem 0;
      }
      .instructionTitle{
        @include m.sectionTitle;
      }
      .instruction{
        list-style-type: decimal;
        @include m.sectionText;
        .instructionItem{
          margin: 0 0 1rem 2rem;          
          color: v.$wenge-brown;
          &::marker{
            color: v.$nutmeg;
            font-weight: 600;
          }
          span{
            font-weight: 600;
          }
        }
      }
    }
    .recipe__nutrition{
      padding: 2rem;
      @media(min-width:680px){
        padding: 2rem 0;
      }
      .nutritionTitle{
        @include m.sectionTitle;
      }
      .nutritionInfo{
        @include m.sectionText;
      }
      .nutritionTable{
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .row{
          @include m.lineBottomTable;
          display: flex;
          align-items: center;
          row-gap: 2rem;
          padding: 1rem 2rem;
          .name{
            flex: 1;
            @include m.sectionText;
          }
          .value{
            flex: 1;
            color: v.$nutmeg;
            font-weight: 600;
            font-family: 'Outfit', sans-serif;
          }
        }
      }
    }
  }
}